<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Mökkimatkalaskuri</title>
</head>
<body>
    <div class="wrapper">
        <div class="box a"></div>
        <div class="box b"></div>
        <div class="box c"></div>
        <div class="box d">
            <div class="app-wrapper">
                <div class="appbox app1">
                    <img src="/static/laskuri_banner.png" alt="">
                    <h3 class="apptxt">Vertaa mökkimatkasi polttoaineen kulutusta!</h3>
                    {% block errormsg%}
                    {% endblock %}
                    <form action="/results">
                        <table style="width: 100%;">
                            <tr>
                                <td>
                                    AUTO
                                </td>
                                <td>
                                    <input type="radio" id="carA" name="car" value="A"><img src="/static/carA.png" alt="">
                                    <input type="radio" id="carB" name="car" value="B"><img src="/static/carB.png" alt="">
                                    <input type="radio" id="carC" name="car" value="C"><img src="/static/carC.png" alt="">
                                </td>
                            </tr>
                             <div class="apptxt">
                                {% block content1 %}
                                {% endblock %}
                             </div>
                        </table>
                </form>
                </div>
                <div class="appbox app2">
                    <img src="/static/laskuri_tulos.png" alt="">
                    <div class="apptxt">
                        {% block content2 %}
                        {% endblock %}
                    </div>
                </div>

                <div class="appbox app3">
                    <img src="/static/laskuri_info.png" alt="">
                    <div class="apptxt">
                        {% block content3 %}
                        {% endblock %}
                    </div>
                </div>

            </div>
        </div>
        <div class="box e">(c) by samisil</div>


    </div>
    </body>
</html>