<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Mökkimatkalaskuri</title>
</head>
<body>
    <div class="wrapper">
        <div class="box a"></div>
        <div class="box b"></div>
        <div class="box c"></div>
        <div class="box d">
            <div class="app-wrapper">
                <div class="appbox app1">
                    <img src="/static/laskuri_banner.png" alt="">
                    <h3 class="apptxt">Vertaa mökkimatkasi polttoaineen kulutusta!</h3>
                    {% block errormsg%}
                    {% endblock %}
                    <table style="width: 100%;">
                            <div class="apptxt">
                                {% block content1 %}
                                {% endblock %}
                            </div>
                    </table>
                </div>
                <div class="appbox app2">
                    <img src="/static/laskuri_tulos.png" alt="">
                    <div class="apptxt">
                        {% block content2 %}
                        {% endblock %}
                    </div>
                </div>

                <div class="appbox app3">
                    <img src="/static/laskuri_info.png" alt="">
                    <div class="apptxt">
                        {% block content3 %}
                        {% endblock %}
                    </div>
                </div>

            </div>
        </div>
        <div class="box e">(c) by samisil</div>


    </div>
    </body>
</html>