{% extends "base.html" %}

    {% block content1 %}
        <tr>
            <td><label for="dist">Matkan pituus</label></td>
            <td><input type="text" id = "dist" name="dist" size="14"> km</td>
        </tr>
        <tr>
            <td><label for="speed1">Käytetty keskinopeus 1</label></td>
            <td><input type="text" id="speed1" name="speed1" size="14"> km/h</td>
        </tr>
        <tr>
            <td><label for="speed2">Käytetty keskinopeus 2</label></td>
            <td><input type="text" id="speed2" name="speed2" size="14"> km/h</td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Laske"></td>

        </tr>
    {% endblock %}

    {% block content3 %}
        <h3>Vertaile</h3>
        <p>Laskurilla voi verrata matkalla käytetyn nopeuden vaikutusta matka-aikaan ja polttoaineenkulutukseen</p>
        <p> Käytettävissäsi on kolme kulutukseltaan erilaista autotyyppiä: <br>
            - Pienikulutuksinen auto <br>
            - Keskikulutuksinen auto <br>
            - Suurikulutuksinen auto <br>
        </p>
    {% endblock %}