{% extends "base.html" %}

    {% block content1 %}
    <tr>
        <td>{{ form.car.label }}</td>
        <td>
            {% for subfield in form.car %}
            {{ subfield }} {{ subfield.label }}
            {% endfor %}
        </td>
    </tr>
    <tr>
        <td>{{ form.dist.label }}</td>
        <td>{{ form.dist(size=15) }}</td>
    </tr>
    <tr>
        <td>{{ form.speed1.label }}</td>
        <td>{{ form.speed1(size=15) }}</td>
    </tr>
    <tr>
        <td>{{ form.speed2.label }}</td>
        <td>{{ form.speed2(size=15) }}</td>
    </tr>
    <tr>
         {{ form.submit }}
    </tr>


    {% endblock %}

    {% block content3 %}
        <h3>Vertaile</h3>
        <p>Laskurilla voi verrata matkalla käytetyn nopeuden vaikutusta matka-aikaan ja polttoaineenkulutukseen</p>
        <p> Käytettävissäsi on kolme kulutukseltaan erilaista autotyyppiä: <br>
            - Pienikulutuksinen auto <br>
            - Keskikulutuksinen auto <br>
            - Suurikulutuksinen auto <br>
        </p>
    {% endblock %}